<style>
    li{list-style-type:none !important;}
  </style>
  <footer>
    <!-- SUBSCRIBE TO OUR NEWSLETTER -->
    <section class="bg-[#232323] py-8 md:pt-[60px] md:pb-[40px] closeup-animate">
      <div class="container">
        <h2 class="font-lato text-md md:text-xl font-normal text-white text-center">SUBSCRIBE TO OUR NEWSLETTER</h2>
        <p
          class="font-lato font-normal text-sm md:text-md text-white tracking-[2.4px] md:leading-10 mt-2 md:mt-10 text-center xxl:w-[94%]"
        >
          At Miro we realize that your time is valuble and the intimidation of shopping is stores can be overwhelming...
          so we came up with a solution.
        </p>
        <div class=" xl:w-[994px] mx-auto signup-div">
          <div class="klaviyo-form-W3tt8F"></div>
        </div>
      </div>
    </section>
    <!-- *****end****** -->
  
    <!-- footer links -->
    <section class="bg-black">
      <div class="w-full px-4 lg:px-8 xxl:px-24 pt-10 md:pt-20 pb-8">
        <!-- footer link -->
        <div class="flex flex-col md:flex-row flex-wrap items-start justify-between pb-10 gap-y-10 md:gap-y-4">
          <div class="lg:w-1/4 lg:pl-4">
            <div class="flex">
              <a href="/" class="group">
                <img
                  src="{{ 'logo-white.png' | file_url }}"
                  alt="footer-logo"
                  class="md:w-[200px] group-hover:scale-[0.95] duration-100"
                  height=""
                  width=""
                >
              </a>
            </div>
            <!--
              <div class="lg:min-h-[74px] xl:min-h-[84px] max-lg:border-b-2 pb-2">
                  <h4 class="font-lato font-normal text-md md:text-lg text-black">
                      {{ section.settings.heading1 }}
                  </h4>
              </div>
            -->
            <ul class="pl-3 pr-6 mt-2">
              {% for link in linklists[section.settings.linklist1].links %}
                <li class="list-disc mb-3">
                  <a
                    href="{{ link.url }}"
                    class="font-lato font-normal text-white text-sm md:text-md leading-5 duration-100 hover:border-b-2 border-[#34495e]"
                  >
                    {{ link.title -}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
  
          <div class="md:w-1/2 lg:w-1/4 md:pr-6 xl:pl-4">
            <div class="lg:min-h-[74px] xl:min-h-[84px] max-lg:border-b-2 pb-2">
              <h4 class="font-lato font-normal text-md md:text-lg text-white">
                {{ section.settings.heading2 }}
              </h4>
            </div>
            <ul class="pl-3 mt-2">
              {% for link in linklists[section.settings.linklist2].links %}
                <li class="list-disc mb-3">
                  <a
                    href="{{ link.url }}"
                    class="font-lato font-normal text-white text-sm md:text-md leading-5 duration-100 hover:border-b-2 border-[#34495e]"
                  >
                    {{ link.title -}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
  
          <div class="md:w-1/2 lg:w-1/4 lg:pl-4 lg:pr-6">
            <div class="lg:min-h-[74px] xl:min-h-[84px] max-lg:border-b-2 pb-2">
              <h4 class="font-lato font-normal text-md md:text-lg text-white">
                {{ section.settings.heading3 }}
              </h4>
            </div>
            <ul class="pl-3 mt-2">
              {% for link in linklists[section.settings.linklist3].links %}
                <li class="list-disc mb-3">
                  <a
                    href="{{ link.url }}"
                    class="font-lato font-normal text-white text-sm md:text-md leading-5 duration-100 hover:border-b-2 border-[#34495e]"
                  >
                    {{ link.title -}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
  
          <div class="md:w-1/2 lg:w-1/4 md:pr-6 xl:pl-24">
            <div class="lg:min-h-[74px] xl:min-h-[84px] max-lg:border-b-2 pb-2">
              <h4 class="font-lato font-normal text-md md:text-lg text-white">
                {{ section.settings.heading4 }}
              </h4>
            </div>
            <ul class="pl-3 mt-2">
              {% for link in linklists[section.settings.linklist4].links %}
                <li class="list-disc mb-3">
                  <a
                    href="{{ link.url }}"
                    class="font-lato font-normal text-white text-sm md:text-md leading-5 duration-100 hover:border-b-2 border-[#34495e]"
                  >
                    {{ link.title -}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="flex items-center justify-between border-t">
          <!-- media links -->
          <div class="flex items-center justify-center gap-6 mt-6 md:mt-[50px]">
            <a href="{{ section.settings.facebook }}" target="_blank" class="group">
              <img
                src="{{ 'fb.svg' | file_url }}"
                alt="facebook-icon"
                class="w-[24px] h-[24px] object-contain group-hover:translate-y-[-4px] duration-200"
                height=""
                width=""
              >
            </a>
            <a href="{{ section.settings.instagram }}" target="_blank" class="group">
              <img
                src="{{ 'insta.svg' | file_url }}"
                alt="insta-icon"
                class="w-[24px] h-[24px] object-contain group-hover:translate-y-[-4px] duration-200"
                height=""
                width=""
              >
            </a>
          </div>
          <!-- Copyright Text -->
          <h5 class="font-lato font-normal text-sm md:text-lg text-white leading-7 text-center mt-6 md:mt-[45px]">
            © 2024
            <a href="/" class="border-b-2 border-gray-600 duration-100 hover:pb-1">MiroJewelers</a>. All Rights Reserved
          </h5>
        </div>
      </div>
    </section>
    <!-- *****end****** -->
  </footer>
  
  {% schema %}
  {
  "name": "Footer section",
  "class": "index-section",
  "settings": [
  {
  "type": "header",
  "content": "Newsletter"
  },
  {
  "type": "textarea",
  "id": "title",
  "label": "Title"
  },
  {
  "type": "textarea",
  "id": "subtitle",
  "label": "Sub Title"
  },
  {
  "type": "header",
  "content": "Column 1"
  },
  {
  "type": "textarea",
  "id": "heading1",
  "label": "Heading"
  },
  
  {
  "type": "link_list",
  "id": "linklist1",
  "label": "Select Navigation"
  },
  
  {
  "type": "header",
  "content": "Column 2"
  },
  {
  "type": "text",
  "id": "heading2",
  "label": "Main Heading"
  },
  {
  "type": "link_list",
  "id": "linklist2",
  "label": "Select Navigation"
  },
  {
  "type": "header",
  "content": "Column 3"
  },
  {
  "type": "text",
  "id": "heading3",
  "label": "Main Heading"
  },
  {
  "type": "link_list",
  "id": "linklist3",
  "label": "Select Navigation"
  },
  {
  "type": "header",
  "content": "Column 4"
  },
  {
  "type": "text",
  "id": "heading4",
  "label": "Main Heading"
  },
  {
  "type": "link_list",
  "id": "linklist4",
  "label": "Select Navigation"
  },
  {
  "type": "header",
  "content": "Social Media"
  },
  {
  "type": "url",
  "id": "facebook",
  "label": "Facebook"
  },
  {
  "type": "url",
  "id": "instagram",
  "label": "instagram"
  }
  ]
  }
  {% endschema %}
  