  <!-- TRY your favorite design at HOME -->
  <section class="my-6 md:my-10 xxl:mb-16 xxl:mt-24 pb-4">
    <div class="container">
      <!-- <img src="{{ 'diamond-neklace.png' | file_url }}" alt="a rounded diamond neklace set into in frame"
        class="w-full h-full duration-300 animate-image" /> -->

      <div class="md:text-center">
        <h2 class="font-lato font-normal text-md md:text-xl text-black uppercase" data-aos="fade-up"
          data-aos-easing="ease-in-back" data-aos-delay="0" data-aos-duration="800" data-aos-offSet="0">
            {{ section.settings.title }}
        </h2>
        <p class="font-lato text-sm md:text-md font-normal leading-6 md:leading-9 tracking-[1.8px] capitalize md:mt-[40px] xxl:mt-[70px] xxl:w-[90%] mx-auto"
          data-aos="fade-up" data-aos-easing="ease-in-back" data-aos-delay="0" data-aos-duration="800"
          data-aos-offSet="0">
            {{ section.settings.subtitle }}
        </p>

        <div class="md:text-center lg:flex items-center justify-center gap-3" data-aos="fade-up" data-aos-easing="ease-in-back" data-aos-delay="0"
          data-aos-duration="800" data-aos-offSet="0">
          <a href="  {{ section.settings.buttonlink }}"
            class="font-lato text-[11px] md:text-md font-normal tracking-[1.8px] text-white hover:text-black px-6 md:px-10 py-2 md:py-4 bg-black uppercase hover:bg-transparent border-black inline-block border-2 border-solid duration-300 rounded-md mt-6 md:mt-[70px] max-[400px]:w-full text-center">  {{ section.settings.buttontext }}</a>
          <a href="/collections/verragio-wedding-bands"
            class="font-lato text-[11px] md:text-md font-normal tracking-[1.8px] text-black hover:text-white px-6 md:px-10 py-2 md:py-4
            bg-transparent uppercase hover:bg-black border-black inline-block border-2 border-solid duration-300 rounded-md mt-2 md:mt-4 lg:mt-[70px] max-[400px]:w-full text-center hidden wedd-bands-btn">
            SHOP THE VERRAGIO wedding bands</a>
        </div>
      </div>
    </div>
  </section>
  <!-- *****end****** -->

        {% schema %}
{
"name": "Text Section",
 "settings": [
    

 {

    "type": "textarea",
    "id": "title",
    "label": "Heading"
  },
    {

    "type": "textarea",
    "id": "subtitle",
    "label": "Sub Heading"
  },
   {

    "type": "textarea",
    "id": "buttontext",
    "label": "Button Text"
  },
      {

    "type": "url",
    "id": "buttonlink",
    "label": "Button Link"
  } 

    

  
   
],
  
 "presets": [
  {
    "name": "Text Section"
  }
]
}
{% endschema %}