<!doctype html>
    <html class="no-js" lang="{{ request.locale.iso_code }}">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="">
        <!-- Google Tag Manager -->
        <script>
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-PQGBXTVB');
        </script>
        <!-- End Google Tag Manager -->
        <meta name="google-site-verification" content="E7B0s35WMs0eBmsliNEqmPo00TsX1sh6ijoktGdqxlE">
        <link rel="canonical" href="{{ canonical_url }}">
    
        {%- if settings.favicon != blank -%}
          <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
        {%- endif -%}
    
        {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
          <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
        {%- endunless -%}
    
        <title>
          {{ page_title }}
          {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
          {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
          {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
        </title>
    
        {% if page_description %}
          <meta name="description" content="{{ page_description | escape }}">
        {% endif %}
    
        {% render 'meta-tags' %}
    
        {{ content_for_header }}
    
        <!-- cdn url tailwind -->
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- first party plugin from official tailwindcss -->
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
        <!-- flowbite components url -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet">
        <!-- custom css url -->
    
        {{ 'index.css' | asset_url | stylesheet_tag }}
        <!-- slick.css -->
        {{ 'slick.css' | asset_url | stylesheet_tag }}
        {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
        <!-- favicon -->
        <link rel="icon" type="image/x-icon" href="https://www.mirojewelers.com/media/favicon/stores/1/M_Favicon1.png">
        <link
          rel="shortcut icon"
          type="image/x-icon"
          href="https://www.mirojewelers.com/media/favicon/stores/1/M_Favicon1.png"
        >
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css"
          integrity="sha512-EaaldggZt4DPKMYBa143vxXQqLq5LE29DG/0OoVenoyxDrAScYrcYcHIuxYO9YNTIQMgD8c8gIUU8FQw7WpXSQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        >
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
        {{ 'account.css' | asset_url | stylesheet_tag }}
        {{ 'magic.css' | asset_url | stylesheet_tag }}
    
        <script>
            tailwind.config = {
            theme: {
              extend: {
                boxShadow: {
                  full: "0px 0px 20px rgba(0, 0, 0, 0)",
                },
                backgroundImage: {
                  "hero-banner": "url({{ 'bg-top-banner.png' | file_url }})",
                  "hero-banner-repairs": "url({{ 'hero-banner-repairs.png' | file_url }})",
                  "repair-service": "url({{ 'top-repair-services1.png' | file_url }})",
                  "shipping-banner": "url({{ 'shipping-banner-bg.WEBP' | file_url }})",
                  "contact-banner": "url({{ 'contact-us-banner.jpg' | file_url }})",
                  "about-banner": "url({{ 'about-banner-top.WEBP' | file_url }})",
                  "lifetime-warranty-banner":
                    "url({{ 'lifetime-warranty-banner.avif)' | file_url }})",
                  "terms-condition-banner":
                    "url({{ 'terms-condition-banner.WEBP' | file_url }})",
                  "privacy-policy-banner":
                    "url(privacy-policy-banner.jfif)",
                  "return-policy-banner":
                    "url({{ 'return-policy-banner.WEBP' | file_url }})",
                  "custom-design-banner":
                    "url({{ 'custom-design-banner.jpg' | file_url }})",
                  "design-form-banner": "url({{ 'design-form-banner.WEBP' | file_url }})",
                  "view-all-engagement-rings":
                    "url({{ 'view-all-engagement-rings.jfif)",
                  "diamond-shapes-banner":
                    "url({{ 'diamond-shapes-banner.jpg' | file_url }})",
                  "book-appointment-banner": "url({{ 'design-form-slide-.jpg' | file_url }})",
                  "color-swatch": "url({{ 'color-swatch.png' | file_url }})",
                },
                backgroundSize: {
                  fillups: "100% 100%",
                },
                transitionDuration: {
                  2000: "2000ms",
                },
                animation: {
                  "slide-right": "slide-right 1s ease-in-out",
                  "slide-left": "slide-left 1s ease-in-out",
                },
                keyframes: {
                  "slide-right": {
                    "0%": { width: "0" },
                    "100%": { width: "100%" },
                  },
                  "slide-left": {
                    "0%": { width: "0" },
                    "100%": { width: "100%" },
                  },
                },
              },
              fontSize: {
                xsm: "12px !important",
                sm: "14px !important",
                intermediate: "16px !important",
                md: "18px !important",
                lg: "24px !important",
                xl: "32px !important",
                xxl: "42px !important",
                rare: "74px !important",
              },
              screens: {
                sm: "576px",
                md: "768px",
                lg: "992px",
                xl: "1200px",
                xxl: "1400px",
                larger: "1680px",
                // long: { raw: "(max-width: 768px),(max-height: 840px)" },
              },
              fontFamily: {
                inter: "Inter",
                lato: "Lato",
              },
              container: {
                center: true,
                padding: "0.75rem",
                screens: {
                  sm: "600px",
                  md: "728px",
                  lg: "984px",
                  xl: "1240px",
                  "2xl": "1326px",
                },
              },
            },
          };
        </script>
        <!-- shop by shape slider -->
        {% comment %}
          <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
          >
          <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
        {% endcomment %}
        <!-- /////////////////////// -->
        <!-- aos css -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <!-- //////////////////////// -->
    
        <script>
          document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
          if (Shopify.designMode) {
            document.documentElement.classList.add('shopify-design-mode');
          }
        </script>
    
        <script>
                 window.addEventListener('DOMContentLoaded', function() {
                     $(document).ready(function() {
    
            if (window.location.href.indexOf("viewcart") > -1) {
    
              $(".g_side_cart").addClass("active");
              $("body").addClass("no-scroll");
            }
          });
                   });
        </script>
    
        <script>
          document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
          if (Shopify.designMode) {
            document.documentElement.classList.add('shopify-design-mode');
          }
    
             // This allows to expose several variables to the global scope, to be used in scripts
            window.theme = {
              pageType: {{ request.page_type | json }},
              moneyFormat: {{ shop.money_format | json }},
              moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
              currencyCodeEnabled: {{ settings.currency_code_enabled | json }},
              productImageSize: {{ settings.product_image_size | json }},
              searchMode: {{ settings.search_mode | json }},
              showPageTransition: {{ settings.show_page_transition | json }},
              showElementStaggering: {{ settings.show_element_staggering | json }},
              showImageZooming: {{ settings.show_image_zooming | json }}
            };
            window.routes = {
              rootUrl: {{ routes.root_url | json }},
              rootUrlWithoutSlash: {% if routes.root_url == '/' %}''{% else %}{{ routes.root_url | json }}{% endif %},
              cartUrl: {{ routes.cart_url | json }},
              cartAddUrl: {{ routes.cart_add_url | json }},
              cartChangeUrl: {{ routes.cart_change_url | json }},
              searchUrl: {{ routes.search_url | json }},
              productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
            };
        </script>
    
        <script src="{{ 'jquery.js' | asset_url }}" defer="defer"></script>
        <script src="{{ 'jquery-3.6.0.min.js' | asset_url }}"></script>
        {% if template contains 'customers' %}
          {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
        {% endif %}
        {% if collection.handle == 'all' %}
          <script>
            window.location.href = "/collections/engagement-rings";
          </script>
        {% endif %}
    
        <script src="{{ 'magic.js' | asset_url }}"></script>
      </head>
    
      <body class="prestige--v4 {{ classes }} template-{{ template | replace: '.', '-' | replace: '/', '-' }} {% if template.directory %}template-{{ template.directory | handle }}{% endif %} template-{{ template.name | handle }}">
        <!-- Google Tag Manager (noscript) -->
        <noscript
          ><iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-PQGBXTVB"
            height="0"
            width="0"
            style="display:none;visibility:hidden"
          ></iframe
        ></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <span class="LoadingBar"></span>
        <span class="PageOverlay"></span>
        <span class="PageTransition"></span>
    
        {%- section 'slide-cart' -%}
    
        {% sections 'header-group' %}
    
        <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
          {{ content_for_layout }}
        </main>
    
        {% sections 'footer-group' %}
    
        <!-- flowbite components url -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js" defer="defer"></script>
        <!-- aos -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer="defer"></script>
        <!-- /////////////////////// -->
    
        <script src="{{ 'datepicker.min.js' | asset_url }}" defer="defer"></script>
        <!-- custom js url -->
        <script src="{{ 'index.js' | asset_url }}" defer="defer"></script>
        <script src="{{ 'slick.js' | asset_url }}" defer="defer"></script>
        <script>
           window.addEventListener('DOMContentLoaded', function() {
             // Shop Diamonds By Shape ( Home )
          $(document).ready(function () {
            $('.diamond-carousel').slick({
              slidesToShow: 5,
              slidesToScroll: 1,
              autoplay: true,
              autoplaySpeed: 2000,
              dots: false,
              arrows: true,
              centerMode: true,
              speed:1000,
              responsive: [{
                  breakpoint: 1441,
                  settings: {
                    slidesToShow: 5,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 1320,
                  settings: {
                    slidesToShow: 5,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 1025,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 767,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                }
              ]
            }).on('afterChange', function (event, slick, currentSlide) {
              AOS.init({
                once: true,
              });
            });
    
            $('.best-sellers').slick({
              slidesToShow: 4,
              slidesToScroll: 1,
              // autoplay: true,
              // autoplaySpeed: 2000,
              arrows: true,
              speed:1000,
              responsive: [{
                  breakpoint: 1441,
                  settings: {
                    slidesToShow: 5,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 1320,
                  settings: {
                    slidesToShow: 5,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 1025,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 767,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                }
              ]
            })
          });
    
          var navbar = document.querySelector("nav");
          var navSearch = document.querySelector("nav>form");
          var tembox = document.querySelector(".tem-box");
    
          function updateNavbarHeight() {
            var navbarHeight = $("nav").height();
            $(".tem-box").height(navbarHeight);
          }
          // Initial update of heights
          updateNavbarHeight();
          window.addEventListener("resize", updateNavbarHeight);
    
    
          //
          // window.addEventListener("scroll", () => {
          //   if (window.scrollY > 0) {
          //     menuToggleList.classList.add(
          //       "border-b",
          //       "border-gray-100"
          //     );
          //   } else {
          //     menuToggleList.classList.remove("border-b", "border-gray-100");
          //   }
          // });
                 });
        </script>
    
        <script>
           window.addEventListener('DOMContentLoaded', function() {
            $('.search-icon').click(function(){
             $('.desk-search_wrap').toggleClass('active')
               $('body').toggleClass('no-scroll')
              setTimeout(function(){
              $('.Search__Input').focus();
               }, 500);
    
            })
              $('.modal__close-button').click(function(){
             $('.desk-search_wrap').removeClass('active')
                $('body').removeClass('no-scroll')
    
            })
    
                 $(".g_prod_qty .qty__adjust").on("click", function () {
              var t,
                  e = $(this),
                  i = e.parent(".g_prod_qty").find("input").val();
              (t = e.hasClass("qty__adjust--plus") ? parseFloat(i) + 1 : 0 <= i ? parseFloat(i) - 1 : 1), e.parent().find("input").val(t);
            });
    
                $('.cart-link').click(function(){
                $('.g_side_cart').addClass('active');
                $('body').addClass('no-scroll');
                })
    
            $('.close_cart, .PageOverlay').click(function(){
              $('.g_side_cart').removeClass('active');
              $('body').removeClass('no-scroll');
              })
    
             $('.filter-link').click(function(){
             $('.filter-wrap').addClass('active')
               $('body').addClass('no-scroll')
            })
             $('.close-filter, .PageOverlay').click(function(){
             $('.filter-wrap').removeClass('active')
               $('body').removeClass('no-scroll')
            })
    
                $('.select-toggle').click(function(){
            $(this).next('.dropdown-menu').toggleClass('active');
            $(this).toggleClass('active-menu');
           });
             $('.select-dropdown .dropdown-menu button').on('click', function() {
            var getValue = $(this).text();
            $('.select-dropdown .dropdown-menu>button').removeClass("active");
            $(this).addClass("active");
            $('.select-dropdown .dropdown-menu').removeClass("active");
          });
              $(".select-dropdown .dropdown-menu button ").click(function() {
            $(this).closest('.select-dropdown').find('.select-toggle ').text($(this).text());
          });
    
              $('body').click(function() {
             $('.select-dropdown .dropdown-menu').removeClass("active");
          });
    
              $('.select-toggle').click(function(event){
             event.stopPropagation();
          });
    
             $('body').on("click",".collection-filters-form .Collapsible .collapse-headers", function(){
              $(this).parent('.Collapsible').toggleClass("active");
              $(this).parents('body').toggleClass("activew");
              $(this).parent('.Collapsible').siblings().removeClass("active");
          });
    
    
              });
        </script>
    
        <script>
            //desktop tabs
            if (window.innerWidth > 992) {
                // Get all buttons with the class 'myButton'
                const buttons = document.getElementsByClassName('button');
                const helloDiv = document.querySelector('.tabcontent');
                helloDiv.classList.remove('hidden');
                const helloHeight = helloDiv.offsetHeight + 100;
                const secondSection = document.querySelector('.tab-sec');
                secondSection.style.height = `${helloHeight}px`;
    
    
                // Iterate through each button and add a click event listener
                for (let i = 0; i < buttons.length; i++) {
                    buttons[i].addEventListener('click', function () {
                        let nextSection = this.nextElementSibling; // Get the next section element
                        if (nextSection) {
                            nextSection.classList.remove('hidden');
                            let sectionHeight = nextSection.offsetHeight +
                                100; // Get the height of the next section
                            secondSection.style.height = `${sectionHeight}px`;
                        }
                    });
                }
            }
            // <!-- ####### -->
    
            //mobile tab accordion
            if (window.innerWidth < 992) {
                // Get all elements with class 'button'
                var elementsWithBBClass = document.getElementsByClassName('button');
    
                // Loop through each element and add event listener
                for (var i = 0; i < elementsWithBBClass.length; i++) {
                    elementsWithBBClass[i].addEventListener('click', function () {
                        // Get the next sibling element of the clicked element
                        var nextElement = this.nextElementSibling;
    
                        // Check if the next sibling element exists and if it has the class 'hidden'
                        if (nextElement && nextElement.classList.contains('hidden')) {
                            nextElement.classList.remove('hidden');
                            this.setAttribute('aria-selected', 'true');
                        } else {
                            nextElement.classList.add('hidden');
                            this.setAttribute('aria-selected', 'false');
                        }
    
                    });
                }
            }
          
            // Get radio buttons and the display <p> element
            const radioButtons = document.querySelectorAll('input[name="diamond-shape"]');
            const displayText = document.getElementById('displayText');
            // Add change event listener to each radio button
            radioButtons.forEach(radioButton => {
                radioButton.addEventListener('change', function () {
                    // Check if the radio button is checked
                    if (this.checked) {
                        // Update the content of the <p> element with the label text
                        displayText.textContent = this.nextElementSibling.textContent;
                    }
                });
            });
        </script>
    
        <script src="{{ 'script.js' | asset_url }}" defer="defer"></script>
        <script src="{{ 'wishlist.js' | asset_url }}" defer="defer"></script>
        {% unless template contains 'index' or template contains 'product' %}
          <script src="{{ 'libs.min.js' | asset_url }}" defer="defer"></script>
          <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
          <script src="{{ 'ajaxinate.js' | asset_url }}" defer="defer"></script>
    
          <script>
                document.addEventListener("DOMContentLoaded", function() {
             var endlessScroll = new Ajaxinate();
    
            });
          </script>
        {% endunless %}
        <style>
                  body .Magic360 span {
              display: none !important;
              opacity: 0 !important;
          }
        </style>
      </body>
    </html>
    